.header {
  width: 100%;
  height: 51px;
  background: #2f2f2f;
  display: flex;
  align-items: center;
  position: fixed;
  justify-content: space-evenly;
  font-family: "SF PRO TEXT";
  &.opened {
    background: #000000;
  }
  .img {
    display: flex;
    justify-content: center;
    width: 60%;
    img {
      padding-right: 60px;
    }
  }
}
