.header {
  width: 100%;
  position: relative;
  height: 51px;
  background: #2f2f2f;
  display: flex;
  align-items: center;
  position: fixed;
  font-family: "SF PRO TEXT";
  &.opened {
    background: #000000;
  }
  .img {
    position: absolute;
    width: 100%;
    text-align: center;
    img {
      width: 16px;
    }
  }
}
