.state {
  background: #ffffff;
  width: 100%;
  line-height: 24.32px;
  justify-content: space-evenly;
  padding: 12px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 87px;
  padding-bottom: 24px;
  box-sizing: border-box;
  font-family: "SF PRO TEXT";
  font-weight: 400;
  font-size: 16px;
  .br {
    margin-top: 20px;
  }
  .mt4 {
    margin-top: 4px;
  }
  .image {
    width: min-content;
    height: 127px;
    text-align: center;
    margin: 0 auto;
    width: 157px;
    border-bottom: 1px solid #dedede;

    img {
      width: 129px;
    }
  }
  .firstBox {
    .redTxt {
      color: #ff453a;
    }
  }
  .thirdBox {
    // height: 85px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;

    .boldTxt {
      font-size: 16px;
      font-weight: 700;
    }
  }
  .blueTxt {
    color: #2a64c5;
    cursor: pointer;
  }
  .btn {
    text-align: center;
    button {
      width: 196px;
      height: 48px;
      font-weight: 400;
      font-size: 16px;

      letter-spacing: -0.01em;

      color: #ffffff;
      background: #326ec4;
      border-radius: 12px;
      border: none;
    }
  }
}
