.footer {
  padding: 20px;
  padding-top: 0;
  width: 100%;
  height: 370px;
  background: #f5f5f7;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 12px;
  font-family: "SF PRO TEXT";
  .support {
    width: 100%;
    display: flex;
    color: #515153;
    // justify-content: space-between;
    align-items: center;
    @media (max-width: 342px) {
      display: block;
      .text {
        margin: 0;
      }
    }
    .arrows {
      width: 110px;
      display: flex;
      align-items: center;
      .apple {
        margin-right: 10px;
      }
      span {
        margin: 0 10px;
      }
    }
    .text {
      width: 100%;
      margin-left: 10px;
      @media (max-width: 342px) {
        margin: 0;
        margin-top: 8px;
      }
    }
  }
  .more {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    div {
      display: flex;
      justify-content: space-between;
      p {
        color: #1d1d1e;
      }
      button {
        border: none;
        background-color: transparent;
        color: #1d1d1e;
        font-size: 16px;
      }
    }
  }
  .foot {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #515153;
    div {
      p {
        color: #86868a;
      }
      .privacy {
        color: #515153;
        span {
          color: #d2d2d6;
        }
      }
    }
  }
}
